// 背景图片
bg-image($url)
  background-image: url($url + "pc.jpg")
  @media screen and (max-width:500px)
    background-image: url($url + "ip.jpg")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

//大标题
large-title()
  font-size: $font-text-title
  @media screen and (max-width:500px)
    font-size: $font-sub

//副标题
sub-title()
  font-size: $font-text
  @media screen and (max-width:500px)
    font-size: $font-link