// 颜色定义规范
$c-theme = #197a56
$c-theme-hover = #004a43
$c-text = #ddd
$c-text-grey = #dfeded
$c-bg-heavy = #323945
$c-bg-black = #222129

//字体定义规范
$f-link = 0.6rem
$f-text-small = 0.75rem
$f-text = 1rem
$f-sub = 1.3rem
$f-main-sub = 1.7rem
$f-main = 2.2rem
$f-text-title = 2.8rem